.rotate-paragraph {
  width: 250px;
  height: 250px;
  transform: rotate(90deg);
}
.rotate-list {
  transform: rotate(12deg);
  width: 100px;
  background-color: red;
  color: white;
}
.rotate-list-items li {
  width: 100px;
  text-align: right;
}
.rotate-list-items li:nth-child(1) {
  transform: rotate(-10deg);
  background-color: yellow;
}
.rotate-list-items li:nth-child(2) {
  transform: rotate(2deg);
  background-color: blue;
  color: white;
}
.rotate-list-items li:nth-child(3) {
  transform: rotate(10deg);
  background-color: red;
}
.rotate-image {
  transform: rotate(-10deg);
}
.rotate-table {
  position: relative;
  left: 50px;
  transform: rotate(15deg);
}
.rotate-table tr:nth-child(1) {
  background-color: black;
  color: white;
}
.rotate-table tr:nth-child(n + 2) {
  background-color: yellow;
}
.rotate-table tr:nth-child(n + 5) {
  background-color: blue;
  color: white;
}
.rotate-table tr:nth-child(n + 8) {
  background-color: red;
}
.rotate-table tr:nth-child(n + 11) {
  background-color: green;
  color: white;
}
.gradients-linear {
  background: linear-gradient(green, pink);
  width: 200px;
  height: 200px;
}
.gradients-radial {
  background: radial-gradient(red, orange);
  width: 200px;
  height: 200px;
}
.gradients-positioned {
  background: radial-gradient(at top right, yellow, orange);
  width: 200px;
  height: 200px;
  color: white;
}
/* TODO: Modify something */
.animation-keyframes {
  position: relative;
  top: 0px;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  width: 200px;
  height: 200px;
  background-color: red;
  color: white;
}
@keyframes slidein {
  from {
    position: relative;
    top: 0px;
    font-size: 50%;
    margin-left: 100%;
    width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
  }
  50% {
    position: relative;
    top: -200px;
    font-size: 50%;
    margin-left: 25%;
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
  }
  to {
    position: relative;
    top: 0px;
    font-size: 50%;
    margin-left: 0%;
    width: 100px;
    height: 100px;
    background-color: purple;
    color: white;
  }
}
.flex-container {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
}
.flex-box {
  border: 5px gray solid;
  margin: 10px;
  padding: 10px;
}
.flex-container > .flex-box {
  flex-basis: 100%;
}
.flex-box-1 {
  background-color: yellow;
}
.flex-box-2 {
  background-color: blue;
  color: white;
}
.flex-box-3 {
  background-color: red;
  color: white;
}
@media (min-width: 0px) and (max-width: 600px) {
  .media-query {
    background-color: red;
    color: white;
  }
  .media-query-heading {
    background-color: blue;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .media-query {
    background-color: yellow;
    color: black;
  }
  .media-query-heading {
    background-color: violet;
  }
}
@media (min-width: 1000px) and (max-width: 1800px) {
  .media-query {
    background-color: blue;
    color: white;
  }
  .media-query-heading {
    color: red;
  }
}

.animation-img {
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
