.wd-navigation-links-container {
  font-size: 13px;
}
.wd-who-to-follow-cell {
  font-size: 13px;
}
.wd-who-to-follow-cell img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.wd-who-to-follow-cell .col-3 .btn {
  /* border: 1px solid red; */
  border-radius: 25px;
}

.wd-who-to-follow-cell .col-7 {
  /* border: 1px solid red; */
  padding-left: 0px;
}

.wd-twitter-feed-container input {
  border: none;
}

.wd-feed-search-bar {
  border: 1px solid lightgray;
  border-radius: 25px;
}

.wd-flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wd-main-feed-img-container {
  border: 1px solid red;
  padding: none;
}
.wd-main-feed-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: none;
  border: 1px solid blue;
}
.fa-stack {
  font-size: 50%;
}
.wd-tweet-btn {
  border-radius: 25px;
  width: 90%;
}
.wd-explore-feed-img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  object-fit: cover;
}
.wd-explore-feed-text-container {
  font-size: 13px;
}
.wd-explore-story-container {
  border: 1px solid lightgray;
  border-radius: 0px 0px 2px 2px;
  border-top: none;
  padding: 10px;
}
